*{
    margin:0;
    padding:0;
    box-sizing:content-box; 
}


h1{
    border:2px dashed red;
    width:50%;
    font-size:3rem;
    padding:0.5em;
}

h2{
    border:100px;
    width:100%;
    font-size: 3rem;
    padding:7em;
}

h3{
    border:100px;
    width:100%;
    font-size: 3rem;
    padding:7em;
}

h4{
    border:100px;
    width:100%;
    font-size: 3rem;
    padding:7em;
}

h8{
    border:1000px;
    width:100%;
    font-style: oblique;
    padding:8em;
}

h9{
    border:100px;
    width:500%;
    font-variant: inherit;
    padding-inline-start: 0cm;
}

h10{
    border:0cqb;
    width:45%;
    font-style:oblique;
    padding:49em;
}

h11{
    border:0cqmin;
    width:0cm;
    font-display:oblique;
    padding:50em;
}

h12{
    border:0cqh;
    width:max-content;
    font-size: smaller;
    padding:0cqb;
}

h13{
    border: 4px;
    width:max-content;
    font-size: larger;
    padding: 5px;
}

h14{
    border:0cqb;
    width:min-content;
    font-weight: 400;
    padding:0cm;
}

h15{
    border:0cqh;
    width:0%;
    font-style: inherit;
    padding-top: 0ch;
}

h16{
    border:0cm;
    width:0cqb;
    font-display: inherit;
    padding-left: 0cap;
}


h17{
    border:0cqh;
    border-width: inherit;
    font-size: x-large;
    padding-bottom: 0cqb;
}